// Variables

$form-width: 60%;


.signin{
  text-align: center;
}

.welcome {
  text-align: center;
  margin-top: 30px;
  font-family: 'Paytone One', sans-serif;
}

.form-div {
  width: $form-width;
  margin: 5% 20%;
}